USE [master]
GO
/****** Object:  Database [DAI-Personaje]    Script Date: 7/6/2022 08:45:50 ******/
CREATE DATABASE [DAI-Personaje]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DAI-Pers', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DAI-Pers.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DAI-Pers_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DAI-Pers_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DAI-Personaje].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DAI-Personaje]
GO
/****** Object:  User [Personaje]    Script Date: 7/6/2022 08:45:50 ******/
CREATE USER [Personaje] FOR LOGIN [Personaje] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [alumno]    Script Date: 7/6/2022 08:45:50 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Personaje]
GO
/****** Object:  Table [dbo].[Peliculas]    Script Date: 7/6/2022 08:45:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peliculas](
	[Id] [int] NULL,
	[Imagen] [varchar](max) NULL,
	[Titulo] [varchar](250) NULL,
	[Fechadecreacion] [varchar](50) NULL,
	[Calificacion] [int] NULL,
	[Personajesasociados] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personajes]    Script Date: 7/6/2022 08:45:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personajes](
	[Id] [int] NULL,
	[Imagen] [varchar](max) NULL,
	[Nombre] [varchar](250) NULL,
	[Edad] [int] NULL,
	[Peso] [int] NULL,
	[Historia] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
